/* body styles */
* {
  padding: 0;
  margin: 0;
}

body {
  background-size: cover;
  background-image: url('mark-tegethoff-4umhCRrivis-unsplash.jpg');
  display: flex;
  justify-content: center;
  font-family: 'Anonymous Pro', monospace;
  margin-top: 5%;
}

h1 {
  text-decoration: underline;
  font-size: 3rem;
  color: #4c044c;
  margin-bottom: 7%;
}

.center {
  text-align: center;
}

/* Form Styles */

label {
  font-size: 2rem;
}

input#todoInput {
  width: 250px;
  border: none;
  outline: none;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  /* margin-right: 10px; */
  font-size: 1rem;
}

.add-button {
  display: inline-block;
  background-color: #731b73;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  font-size: 1.2rem;
  margin-left: -10px;
  font-family: 'Anonymous Pro', monospace;
}

/* Todo List Styles */

#todoForm {
}

#todoList {
  margin-top: 6%;
}

#todoList li {
  display: flex;
  justify-content: space-between; /* Can be changed in the live sample */
  padding: 1%;
  align-items: center;
}

#todoList li button {
  float: right;
  padding: 1% 2%;
  font-family: 'Anonymous Pro', monospace;
  background-color: red;
  border: 1px solid #b90b0b;
  color: #fffdfd;
  border-radius: 5px;
}

.completed {
  color: red;
  text-decoration: line-through;
}
